# Use the (faster) container-based infrastructure, see also
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
#
sudo: false

language: go
go:
  - 1.8

script:
  - apt-config dump
  - 'echo "pid: $$, 0 = $0"'
  - source ext.sh
